
body{
    background-color:black;
}

.maker{
    margin: 28px;
    position: relative;
    text-align: right;
    color: goldenrod;
    font-family: ;
}
header{
    background-color:black;
    position: sticky;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    font-family: Broadway;
    color: orange;
    border: 8px solid orange;
    padding: 6px 48px;
    display: inline-block;
    border-radius: 36px;
}

.div1{
    border: 3px solid black;
    border-color: orange;
    border-radius: 20px;
    margin: 0px auto;
    height: 520px;
    width: 380px;
    
}

/* .div2{
    width: 70%;
    margin: 0 1px;
} */
.main{
    
    text-align: center ;
    margin: 80px 0;
    /* white-space: nowrap; */
}

.link{
    width: 45%;

}
.link:hover{
    transform: translateY(-2px);
    
}

.imanges{
    height: 150px;

}

.inpu input{
    /* margin-left: 50px; */
    background-color:black;
    border-radius: 2px;
    border-color: orange;
    
    width: 40%;
    height: 30px;
    outline-style: none ;
    border-right: none;
    border-top: none;
    border-left: none;
}
.but{
    
    /* text-align: center ; */
    /* background-color:black; */
    border-color: orange;
    height: 30px;
    width: 40%;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.char{
    color: orange;
}


