body {background-color: #ffffff;}


table{
    width: 75%;
    max-width: fit-content;
    margin-inline: auto;
    border-collapse: collapse;
    border: 2px solid #000;
    letter-spacing: 1px;
}
th{
    width: 15%;
    border: 2px solid;
    background-color: #d7e1f0;
}
td{
    text-align: center;
    width: 40%;
    border:1px solid;

    padding: 10px;
}

a{
    text-decoration: none;
    color: #2434e5;
}

img{
    /* vertical-align: middle; */
    /* display: block; */
    width: 50%;

}